:host {
  display: grid;
  grid-template-areas:
    "h1"
    "form"
  ;
  grid-template-columns: 1fr;

  & > h1 {
    display: block;

    & > .reordered {
      display: flex;

      & > i {
        white-space: pre;

        &.reupper {
          text-transform: uppercase;
        }
        &.relower {
          text-transform: lowercase;
        }
      }
    }
  }

  &>form {
    display: flex;
    gap: var(--gap-1);
  }
}
