:host {
  overflow: hidden;

  display: grid;
  justify-items: center;
  grid-row-gap: var(--gap-1);

  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;

  border: solid white var(--border-size-1);
  border-radius: var(--border-radius-1);
  padding: var(--gap-1);
}

dl {
  &>dt {
    margin-block-start: 0.4em;
  }
  &>dd {
    margin-inline-start: 1em;
  }
}
