:host {
  display: grid;
  overflow: hidden;

  grid-template-columns: 1fr;
  grid-template-areas:
    "above"
    "map"
    "under"
    "citations"
    ;

  & > form {
    grid-area: above;
  }

  & > img {
    width: 100%;
    grid-area: map;
  }
  & > wtiii-timezone-mapping {
    grid-area: map;
  }

  & > .citations {
    grid-area: citation;
  }

  & > .text-under-map {
    grid-area: under;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;

    & > div {
      width: min-content;
      white-space: pre;
      user-select: none;
    }

    & > .map-mouse-coords {
      justify-self: start;
    }
    & > .map-mouse-tz {
      justify-self: end;
    }
  }
}
