:host {
  display: grid;
  overflow: hidden;

  grid-template-columns: 1fr;
  grid-template-areas:
    "above"
    "map"
    "under";

  & > form {
    grid-area: above;
  }

  & > img {
    width: 100%;
    grid-area: map;
  }

  & > .under-info {
    grid-area: under;
  }

  & > .map-overlay-br {
    grid-area: map;

    justify-self: right;
    align-self: end;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content min-content;
    justify-items: right;

    & > div {
      width: min-content;
      color: black;
      white-space: pre;
      user-select: none;
    }
  }
}
