<form (submit)="$event.preventDefault()">
  <fieldset>
    <legend>Selection type:</legend>

    <label>
      <input type="radio" value="LocalTime" [formControl]="mapTypeControl" />
      Local time (expensive)
    </label>
    <label>
      <input type="radio" value="NearestPrincipal" [formControl]="mapTypeControl" />
      Nearest principal (cheaper but inaccurate)
    </label>
  </fieldset>
</form>

<img src="/assets/svg-images/World_location_map.svg"
     (click)="onClick($event)"
     (mousemove)="onMouseMove($event)"
     (mouseleave)="mouseCoords.set(undefined)"
/>
@if (mapTypeControl.value === 'LocalTime' && (timeZoneBuilderFeatures$ | async); as features) {
  <wtiii-timezone-mapping
     [features]="features"
     (clickedFeature)="clickedFeature($event)"
     (mousemove)="onMouseMove($event)"
     (mousedOverFeature)="mousedOverLocalTimeZoneResult.set($event)"
     (mouseleave)="mouseCoords.set(undefined); mousedOverLocalTimeZoneResult.set(null)"
  />
}
<div class="map-overlay-br">
  <div class="map-mouse-coords">
    @if (mouseCoordsText(); as coords) {
      {{ coords }}
    }
  </div>
  <div class="map-mouse-tz">
    @switch (mapTypeControl.value) {
      @case ('NearestPrincipal') {
        {{ mouseNearestTimeZoneResult()?.closest?.timeZone ?? '' }}
      }
      @case ('LocalTime') {
        {{ mousedOverLocalTimeZoneResult()?.tzid ?? '' }}
      }
    }
  </div>
</div>
<div class="under-info">
  <a href="https://commons.wikimedia.org/wiki/File:World_location_map.svg">
    World_location_map
  </a>
  Equirectangular projection (compatible with lat/lon)
</div>
