<label>
  Start:
  <wtiii-accessible-range-input
    [control]="form.controls.start"
  />
  <time [dateTime]="startValueString()">{{ startValueString() }}</time>
</label>

<label>
  End:
  <wtiii-accessible-range-input
    [control]="form.controls.end"
  />
  <time [dateTime]="endValueString()">{{ endValueString() }}</time>
</label>

<label>
  Duration:
  <time class="duration" [dateTime]="duration().isoDuration">
    {{ duration().durationString }}
  </time>
</label>

<div class="buttons">
  @if (canSubmit()) {
    <button (click)="submit()" wtiii-icon-button="Save">
      {{ timeHighlight() ? 'check' : 'add' }}
    </button>
  } @else {
    <button disabled (click)="submit()" [wtiii-icon-button]="invalidBecause() ?? '???'">
      unpublished
    </button>
  }
  <button [disabled]="!canDelete()" (click)="delete()" wtiii-icon-button="Delete">delete</button>
</div>
