:host {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: var(--gap-2);

  & > label {
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    time {
      display: inline-block;
      text-align: right;
      width: 5ch; // max width of the monospace characters
    }
  }
}
