:host {
  font-weight: var(--font-family);
  font-size: var(--font-size-ui);

  appearance: none;
  aspect-ratio: 1;
  border-radius: 30%;
  border-style: solid;
  border-color: #444;
  border-width: 0.5px;

  height: 1.5em;
  width: 1.5em;
  padding: 0;
  line-height: 1em;
}
