:host {

  // TODO: better width
  width: unset;

  &[open] {
    display: grid;
    grid-template-rows: min-content;
  }
  overflow: hidden;

  &::backdrop {
    background-color: var(--backdrop-color--transparent);

    transition: all 0.7s;

    @media(prefers-reduced-motion) {
      transition: none;
    }
  }

  &[open]::backdrop {
    background-color: var(--backdrop-color)
  }
}

/* This starting-style rule cannot be nested inside the above selector
  because the nesting selector cannot represent pseudo-elements. */
@starting-style {
  :host[open]::backdrop {
    background-color: var(--backdrop-color-transparent);
  }
}
