:host {

  display: grid;
  grid-template-areas: 'center';

  & > div {
    grid-area: center;
    --24hr-offset: var(--highlight-render-i) * 24 * var(--hour-height-px);

    margin-top: calc(
      var(--24hr-offset) +
      var(--local-seconds-offset) + var(--hours-offset-px) + var(--start-in-px)
    );

    height: calc(var(--end-in-px) - var(--start-in-px));
    background-color: var(--highlight-color);

    opacity: var(--highlight-opacity);
  }
}
