
<div class="now-indicator">
  <div class="now-indicator-circle"></div>
  <div class="now-indicator-line"></div>
</div>

@for (highlight of highlights(); track highlight.id) {
  <wtiii-clock-highlight [highlight]="highlight" />
}

<div class="clock-container" [style.height.px]="clockHeight">
  @for(hourTick of hourTicks; track $index) {
    <time class="hour-block" [dateTime]="hourTick + ':00'">
      <div class="hour-divider"></div>
      <span class="hour-block-label">{{ hourTick }}</span>
    </time>
  }
</div>
