
$indicator-size: 4px;

:host {
  display: grid;
  overflow: hidden;
  height: calc(12 * var(--hour-height-px));

  width: 100%;

  grid-template-areas: 'center';

  .now-indicator {
    grid-area: center;

    display: grid;
    grid-template-areas: 'center';
    height: 0;
    width: 100%;
    margin-top: calc(var(--hours-offset-px) - #{$indicator-size});
    .now-indicator-line {
      grid-area: center;
      align-self: center;
      border-top: 2px solid var(--accent-color);
    }
    .now-indicator-circle {
      grid-area: center;
      justify-self: start;
      border-radius: $indicator-size;
      border: $indicator-size solid var(--accent-color);
    }
  }

  .clock-container {
    grid-area: center;

    display: grid;
    grid-template-columns: 1fr;

    margin-top: calc( var(--top-offset-px) + var(--hours-offset-px));

    //grid-template-rows: repeat(auto-fill, );

    .hour-block {
      height: var(--hour-height-px);
      display: grid;
      grid-template-areas: 'center';

      .hour-divider {
        grid-area: center;

        height: 0;
        border-top: 2px double lightgray;
      }
      .hour-block-label {
        grid-area: center;

      }
    }
  }
}
