
:host {
  display: grid;
  overflow: hidden;
  height: calc(12 * var(--hour-height-px));

  user-select: none;

  width: 100%;

  grid-template-areas: 'center';

  wtiii-clock-highlight {
    grid-area: center;
  }

  .now-indicator {
    grid-area: center;

    display: grid;
    grid-template-areas: 'center';
    height: 0;
    width: 100%;
    margin-top: calc(var(--hours-offset-px) - 2 * var(--now-indicator-thickness));
    .now-indicator-line {
      grid-area: center;
      align-self: center;
      border-top: var(--now-indicator-thickness) solid var(--accent-color);
    }
    .now-indicator-circle {
      grid-area: center;
      justify-self: start;
      border-radius: calc(var(--now-indicator-thickness) * 2);
      border: calc(var(--now-indicator-thickness) * 2) solid var(--accent-color);
    }
  }

  .clock-container {
    grid-area: center;

    display: grid;
    grid-template-columns: 1fr;

    margin-top: calc( var(--local-seconds-offset) + var(--min-hour-px) + var(--hours-offset-px));

    //grid-template-rows: repeat(auto-fill, );

    .hour-block {
      height: var(--hour-height-px);
      display: grid;
      grid-template-areas: 'center';

      .hour-divider {
        grid-area: center;

        height: 0;
        border-top: var(--border-size-3) double lightgray;
      }
      .hour-block-label {
        grid-area: center;
        //user-select: none;
      }
    }
  }
}
